<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LRUCache" version="0.1.0" targetFramework="net45" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net45" />
  <package id="Pcap.Net.x64" version="1.0.4.1" targetFramework="net45" />
  <package id="ProxySocket" version="1.1.2" targetFramework="net45" />
</packages>